body {
    background-color: rgb(246,246,246);
}

#nav{
    position: relative; 
    top:0; 
    right: 0; 
    left: 0; 
    padding: 32px 0px 32px 0px; 
    border-bottom: 2px solid white; 
    background-color: rgba(33, 37, 41, 1);
}

#image{
    position: relative
}

#opbanner{
    width:90px; 
    height:130px; 
    background-color:white; 
    position:absolute; 
    top: 8px; 
    left: 30px;
}

#opimage{
    margin: 18px 0px 0px 15px;
}
#consentsection{
    width: 90%; 
    padding-right: 0.75rem; 
    padding-left: .75rem; 
    margin-right:auto; 
    margin-left: auto;
}
#header{
    color:#0475bc; 
    margin: 15px 0px 15px 0px; 
    font-family: Calibri, opensans, sans-serif; 
    font-weight: 600; 
    font-size: 2.5rem;
}
#parafont1{
    font-family: Calibri, opensans, sans-serif; 
    font-size: 1.1rem
}

#line{
    height:2px; 
    border-width:0;color:#0475bc; 
    background-color:#0475bc"
}

#parafont2{
    padding-left:60px; 
    font-family: Calibri, opensans, sans-serif; 
    font-size: 1.1rem
}
#buttondiv{
    width: 90%; 
    padding-right: 0.75rem; 
    padding-left: .75rem; 
    margin-right:auto; 
    margin-left: auto;
}
#button{
    margin-bottom:1rem !important; 
    cursor:pointer; 
    display: inline-block; 
    font-weight: 400; 
    line-height: 1.5; 
    text-align: center; 
    vertical-align: middle; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; 
    color: #FFFFFF; 
    background-color: #00834e; 
    letter-spacing: 1px; 
    font-size:1rem;
}
#carletondiv{
    width:170px; 
    height:150px; 
    top: 8px; 
    left: 120px; 
    float:right
}
#carletonimg{
    margin: 0px 0px 0px 0px;

}